<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/jer223">Jeremy Hall</a>. A web developer on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpeg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jeremy Hall</h2>
      <br />
      <p>
        Jeremy Hall is a former firefighter and currently works as a paramedic in the emergency room. Looking to make a
        big change with his wife and move to a new state, Jeremy decided to leave the healthcare industry and re-train in the exciting field of programming. Jeremy looks forward to sustained success both in UCF coding bootcamp and 
        in his future career in this amazing field.
      </p>
    </div>
  </div>

  <br />
  <p>
    Starting out in the healthcare industry, Jeremy was looking for an opportunity to grow and create something new.
    Coding and programming has given him the ability to have more freedom and flexibility which in turn creates a
    happier and healthier life.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />